*.*

!.gitignore
!*.md
!*.sh
!*.py
!*.html
!requirements.txt
!nginx.conf
!*.dockerignore
!*.yml
!*yaml
!Dockerfile
!*.Dockerfile
!*.css
!*.Jenkinsfile
!Jenkinsfile.*
!Jenkinsfile
!*.tf
!*.conf
!*.png
!*.jpeg
!pre-push
!cloudwatch-config.json
!*.bat

# Allow directories specific to this project
!devops/application/
!devops/Configurations/
!devops/pipelines/
!devops/terraform/
!git_hooks/
!src/

# Ignore files related to plan, vault, lock files, Terraform states, and variables
plan
vault
*.lock
*.terraform
*.tfstate
*.tfvars

# Ignore IDE and editor specific files
.idea/
.vscode/
*.iml
*.swp
