*

!/.gitignore

### Terraform Portion

!devops/terraform/**/*
!devops/terraform/**/*.tf

devops/terraform/**/*.tfstate
devops/terraform/**/*.tfstate.backup
devops/terraform/**/.terraform/
devops/terraform/**/*.tfvars

### DevOps Portion

!devops/application/
!devops/application/**
!devops/Configurations/
!devops/Configurations/**
!devops/pipelines/
!devops/pipelines/**

devops/**/docker-compose.override.yml

devops/**/.jenkins/
devops/**/workspace/
devops/**/logs/

.idea/
.vscode/
*.iml
*.swp

*.log
*.tmp
*.bak
.DS_Store
